{% extends "base_generic.html" %}
{% load i18n %}

{% block content %}
    <h1>{% translate "Local Library Home" %}</h1>
    <p>
        {% translate "Welcome to LocalLibrary, a website developed by" %} 
        <em>{% translate "Mozilla Developer Network" %}</em>!
    </p>
    <h2>{% translate "Dynamic content" %}</h2>
    <p>{% translate "The library has the following record counts:" %}</p>
    <ul>
        <li><strong>{% translate "Books" %}:</strong> {{ num_books }}</li>
        <li><strong>{% translate "Copies" %}:</strong> {{ num_instances }}</li>
        <li><strong>{% translate "Copies available" %}:</strong> {{ num_instances_available }}</li>
        <li><strong>{% translate "Authors" %}:</strong> {{ num_authors }}</li>
    </ul>
    <p>
        {% translate "You have visited this page:" %}
        {% if num_visits == 1 %}
            {{ num_visits }} {% translate "time" %}
        {% else %}
            {{ num_visits }} {% translate "times" %}
        {% endif %}
    </p>
 
{% endblock %}
